body {
  background-color: #EEEEEE;
  margin: 0;
  padding: 10px;
  font-family: Arial, helvetica, Verdana, "Trebuchet MS", sans-serif;
  font-size: 12px; }

.evsestatuslist {
  display: table;
  border-collapse: separate;
  border-spacing: 1px 2px;
  margin: auto; }
  .evsestatuslist .evsestatus {
    display: table-row; }
    .evsestatuslist .evsestatus .id {
      display: table-cell;
      padding: 10px;
      vertical-align: top; }
    .evsestatuslist .evsestatus .description {
      display: table-cell;
      padding: 10px;
      vertical-align: top; }
    .evsestatuslist .evsestatus .statuslist {
      display: table-cell;
      padding: 10px;
      border-spacing: 0px; }
      .evsestatuslist .evsestatus .statuslist .timestampedstatus {
        display: table-row; }
        .evsestatuslist .evsestatus .statuslist .timestampedstatus .timestamp {
          display: table-cell;
          padding: 0px 10px 0px 0px; }
        .evsestatuslist .evsestatus .statuslist .timestampedstatus .status {
          display: table-cell; }
  .evsestatuslist .evsestatus:hover {
    background-color: rgba(201, 201, 239, 0.65) !important; }
